.Header img{
    height: 80px;
    padding-top: 10px;
    
}
.Header{
    text-align: center;
}
.Header nav{
    background-color: black;
   
    
}
.Header a{
  line-height: 40px;  
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 10px;
  
}
.Header a:hover{
    background-color: firebrick;
}
